<div ng-controller="LancamentoContaController as contratoCtrl" class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
		
        <p style="padding: 20px 20px 20px 0px; font-size: 14px;">Extrato Lancamentos na Conta</p>
        
<!-- Grid de Resultados -->
		<div class="row">
			<div style="margin-left: -30px;" class="panel-body collapse collapsable in" id="grid-contratos">
				<div class="table-responsive">
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th class="text-center">Data do lançamento</th>
								<th class="text-center">Descrição</th>
								<th class="text-center">Número</th>
								<th class="text-center">Situação</th>
								<th class="text-center">Data de Confirmação</th>
								<th class="text-center">Dados Bancários</th>
								<th class="text-center">Valor Final</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="contrato in contratoCtrl.lancamentoContaList">
								<td class="text-center">{{contrato.dataLancamento}}</td>
								<td class="text-center">{{contrato.descricao}}</td>
								<td class="text-center">{{contrato.numero}}</td>
								<td class="text-center">{{contrato.situacao}}</td>
								<td class="text-center">{{contrato.dataConfirmacao}}</td>
								<td class="text-center">{{contrato.dadosBancarios}}</td>
								<td class="text-center">{{contrato.valorFinal}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
</div>